
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Error 404</title>
    <link href="~/Css/CssError.css" rel="stylesheet" />
</head>
<body>
    <div class="conten">
        <div class="conten__img">
            <img src="~/Imagen/NotFound/404.png" />
            <p class="conten__number">
                404
            </p>
        </div>
        <div class="conten__Description">
            <p class="conten__error">
                Creo que nos perdimos en el espacio... vuelve a la tierra.
            </p>
            <a href="#" class="conten__button" onclick="history.back();">Regresa a casa</a>
        </div>
    </div>

</body>
</html>
